<div class="col s12 m6 l4">
  <div class="card large">
    <div class="card-image">
      <img
        src="/img/pexels-lukas-1420701.jpg"
        width=""
        height="200px"
        alt="curry-img"
      />
    </div>
    <div class="card-content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
        consectetur saepe magnam inventore doloremque facere dolorum, itaque ab
        sunt maiores.
      </p>
      <br />
      <span class="card-title">author Name</span>
    </div>
    <div class="card-action">
      <a href="#" style="color: #6c6cff">View Blog</a>
      <a href="#" style="color: #000000; cursor: none">Create date</a>
    </div>
  </div>
</div>
