<div class="col s12 m6 l4">
  <div class="card large">
    <div class="card-image">
      <img src="/img/pexels-lukas-1420701.jpg" width="" height="200px" alt="curry-img" />
    </div>
    <div class="card-content">
      <p><%= arr[index].title %></p>
      <br />
      <span class="card-title"><%= arr[index].title %></span>
    </div>
    <div class="card-action">
      
      <a href="#" style="color: #000000; cursor: none"><%= arr[index].author %></a>
    </div>
  </div>
</div>