<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Blog</title>
</head>

<body>
    <form action="/create" method="POST">
        <label>Title:</label>
        <input name="title" type="text">
        <label>Subtitle:</label>
        <input name="subtitle" type="text">
        <label>Content:</label>
        <textarea name="content" cols="30" rows="10"></textarea>
        <button type="submit">Submit</button>
    </form>
</body>

</html>