<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
    />
    <!-- logo font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/img/book.svg" />
    <title>Register</title>
    <style></style>
  </head>

  <body>
    <!-- navbar -->
    <header>
      <nav class="nav-wrapper black">
        

        <div class="container">
          <a href="#" class="brand-logo left-align" style="font-family: 'Dancing Script', cursive">Write.it</a>
          
          </ul>

          <!-- <ul class="sidenav grey lighten-2" id="mobile-menu"> -->
            <!-- <li><a href="#about">About</a></li> -->
            <!-- <li><a href="#contact">Contact</a></li> -->
            <!-- <li><a href="reg.html">Join Us</a></li> -->
            <!-- <li><a href="login.html">Login</a></li> -->
          </ul>
        </div>
      </nav>
    </header>
    <!-- cards -->
<br><br>
    <div class="container">
        <div class="cards">
          <div class="row">
            <div class="col s12 l6">
              <br><br><br><br><br><br>
              <img src="/img/undraw_secure_login_pdn4.svg" alt="img" class="responsive-img">
            </div>
            <div class="col s12 l5 offset-l1">
              <h4 class="">Register Now..</h4>
              <!-- form -->
              <form action="/register" method="POST">
                
                <div class="input-field col l6">
                  <input type="text" autocomplete="off" id="fname" name="fname" required>
                  <label for="name">First Name</label>
                </div>
                
                <div class="input-field col l6">
                  <input type="text" autocomplete="off" id="lname" name="lname" required>
                  <label for="name">Last Name</label>
                </div>
               
                <div class="input-field col l12">
                  <input type="email" autocomplete="off" name="email" id="email" required>
                  <label for="">Your Email</label>
                </div>
                
                <div class="input-field col l6">
                  <input type="text" class="datepicker" id="dob" name="dob" required>
                  <label for="">Date of Birth</label>
                </div>
                
                <div class="input-field col l6">
                  <select name="gender" id="gender">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                  </select>
                  <label>Materialize Select</label>
                </div>
                
                <div class="input-field col l12">
                  <input type="text" autocomplete="off" id="username" name="username" required>
                  <label for="">Username</label>
                </div>
               
                <div class="input-field col l12 center">
                  <input type="password" autocomplete="off" id="password" name="password" required>
                  <label for="">Password</label>
                  <div class="password error"></div>
                  <br>    <br>
                  <button class="btn-large" type="submit" style="background-color: #6C63FF">Register</button>
                </div> 
                <p class="center">Already a member? <a href="#">Login here</a></p>
                
              </form>
            </div>
          </div>
        </div>
    </div>
    <!-- spacing -->
<br><br><br>
    <!-- footer -->
    <footer class="page-footer white darken-3">
      <div class="container">
        <div class="row">
          <div class="col s12 l6">
            <!-- <h5>More..</h5>
            
            <ul>
              <li><a href="" class="grey-text text-lighten-3">Login</a></li>
              <li><a href="" class="grey-text text-lighten-3">Register</a></li>
            </ul>
          </div>
          <div class="col s12 l4 offset-l2">
            <h5>Meet the team</h5>
            <ul>
              <li><a href="" class="grey-text text-lighten-3">Lorem</a></li> -->
              <!-- <li><a href="" class="grey-text text-lighten-3">Twitter</a></li>
            <li><a href="" class="grey-text text-lighten-3">LinkedIn</a></li>
            <li><a href="" class="grey-text text-lighten-3">Instagram</a></li> -->
            <!-- </ul> -->
          </div>
        </div>
      </div>
      <div class="footer-copyright grey darken-4">
        <div class="container center-align">&copy; 2020 Write.it</div>
      </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <!-- <script src="app.js"></script> -->
    <script>
      $(document).ready(function () {
        // $(".sidenav").sidenav();
        // $(".materialboxed").materialbox();
        // $(".parallax").parallax();
        // $(".scrollspy").scrollSpy();
        $('select').formSelect();
         $(".datepicker").datepicker({
          // disableWeekends: true,
          yearRange: [1970, 2020] 
         });
      });
    </script>
    <script>
      const form = document.querySelector('form');
      const passwordError = document.querySelector('.password.error');

      form.addEventListener("submit",async(e)=>{
          e.preventDefault()

          //Reset errors
          passwordError.textContent = '';

          const firstname = form.fname.value;    
          const lastname = form.lname.value; 
          const DOB = form.dob.value; 
          const gender = form.gender.value;  
          const email = form.email.value;
          const password = form.password.value;
          const username = form.username.value;

         try{
             const res = await fetch("/auth/register",{
                 method: "POST",
                 body: JSON.stringify({firstname:firstname,lastname:lastname,gender:gender,email:email,DOB:DOB,password:password,username:username}),
                 headers: {"Content-Type":"application/json"}
             });
             const data = await res.json();
             console.log(data);
             if(data.errors){
               passwordError.textContent = data.errors.password;
             }
             if (data.user){
                 location.assign("/auth/login");
             }
            
         } 
         catch(err){
             console.log(err);

         }
         
      })
  </script>
  </body>
</html>
