<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Editor's Dependecy Style -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" />
  <!-- Editor's Style -->
  <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
  <!-- font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" />
  <!-- logo font -->
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet" />
  <title>Create Blogs</title>
  <link rel="icon" href="/img/book.svg" />
  <style>
    ul.dropdown-content {
      width: 10% !important;
    }
  </style>
</head>

<body>
  <header>
    <nav class="nav-wrapper black">
      <ul>
        <li>
          <a onclick="window.history.back()" class="btn black text-white waves-effect waves-lights"><i
              class="material-icons">arrow_back</i></a>
        </li>
      </ul>
      <div class="container">
        <a href="/blogs/explore" class="brand-logo left-align"
          style="font-family: 'Dancing Script', cursive">Write.it</a>
        <ul class="right hide-on-med-and-down">
          <li>
            <button form="create" type="submit" class="btn-small white indigo-text waves-effect waves-lights"
              style="border: solid 1px #d6d6d6" onclick="getEditorValue()">
              Publish
            </button>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Editor -->
  <div class="container">
    <form method="POST">
      <div class="input-field">
        <input id="title-inp" type="text" name="title" />
        <label for="title-inp">Title</label>
        <div class="chips chips-placeholder"></div>
      </div>
      <div id="editor"></div>
    </form>
    <br />
    <div class="center">
      <button form="create" type="submit"
        class="btn-small hide-on-large-only white indigo-text waves-effect waves-lights center"
        style="border: solid 1px #6c63ff" onclick="getEditorValue()">
        Publish
      </button>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>
    const Editor = toastui.Editor;
    let initData = '<%- data %>';
    let blogid = '<%- blogid %>'
    // Remove all the unwanted characters so that Json can be parsed
    initData = initData.replace(/\\n/g, "\\n")
      .replace(/\\'/g, "\\'")
      .replace(/\\"/g, '\\"')
      .replace(/\\&/g, "\\&")
      .replace(/\\r/g, "\\r")
      .replace(/\\t/g, "\\t")
      .replace(/\\b/g, "\\b")
      .replace(/\\f/g, "\\f");
    initData = initData.replace(/[\u0000-\u0019]+/g, "");
    initData = JSON.parse(initData);

    const editor = new Editor({
      el: document.querySelector("#editor"),
      height: "600px",
      initialEditType: "markdown",
      previewStyle: "vertical",
    });

    // Set the initial values of editor and title
    editor.setHtml(initData.content)
    document.getElementById("title-inp").value = initData.title
    console.log(initData.tags)
    let options = {
      placeholder: 'Enter a tag',
      secondaryPlaceholder: '+Tag',
      limit: Infinity,
      minLength: 1
    }
    var elems = document.querySelectorAll('.chips');
    var instances = M.Chips.init(elems, options);
    var instance = M.Chips.getInstance(document.querySelector('.chips'))
    initData.tags.forEach((curr, index, arr) => {
      instance.addChip({
        tag: arr[index]
      });
    })

    function getEditorValue() {
      var title = document.getElementById("title-inp").value;
      var content = editor.getHtml();
      const url = `/blogs/update/${blogid}`
      let chipdata = M.Chips.getInstance($('.chips')).chipsData
      let chipArray = []
      for (let i = 0; i < chipdata.length; i++) {
        chipArray.push(chipdata[i].tag.toLowerCase())
      }
      const reqdata = {
        title: title,
        content: content,
        tags: chipArray
      }
      var stringified = JSON.stringify(reqdata);
      const otherparams = {
        headers: {
          "content-type": "application/json; charset=UTF-8"
        },
        body: stringified,
        method: "POST"
      };

      fetch(url, otherparams).then(async (res) => {
        const resdata = await res.json()
        window.location = `/blogs/${resdata._id}`
      })
        .catch(err => console.log(err));
    }
  </script>
</body>

</html>